## LAB TITLE: MACHINE LEARNING$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$ 	LAB CODE: CSE4036

### Topic: Data Preprocessing$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$ 	Assignment No:2

In [1]:
Num, Name = input("Reg. Number:"), input("Name:")

Reg. Number:20MAI1002
Name:Sariki

### Choose one suitable dataset and perform the following operations

### 1. Importing Data

* Read data from a CSV file
* Read data from an Excel file
* Read data from a Table from SQL
* Read data from a JSON file
* Read data from a HTML File
* Read data from the Clipboard

### 2. Exploring Data

* Print the number of rows and columns of a Dataframe
* Print the first `n` rows of the DataFrame
* Print the last `n` rows of the DataFrame
* Print the Index, Datatype and Memory information of the DataFrame
* Print the Summary statistics for numerical columns of the given DataFrame
* Print the Unique values and counts for all columns of the given DataFrame
* Print the mean of all columns of the given DataFrame
* Print the correlation between columns in a DataFrame
* Print the number of non-null values in each DataFrame column
* Print the highest value in each column of the given DataFrame
* Print the lowest value in each column of the given DataFrame
* Print the median of each column of the given DataFrame
* Print the standard deviation of each column of the given DataFrame

### 3. Data Selection

* Print the column with label col as Series
* Print first element
* Print the element at index 0
* Print the first row of the given DataFrame
* Print the first element of first column
* Extract the independent variables (Features)
* Extract the dependent variable (Target)

### 4. Data Cleaning

* Write Script to Renames columns
* Write Script for checking null Values
* Write Script for checking notnull values
* Write Script for dropping all rows that contain null values
* Write Script for dropping all columns that contain null values
* Write Script for dropping all rows have have less than n non null values
* Write Script for replacing all null values with a `specific` value
* Write Script for replacing all null values with the mean
* Write Script for replacing converting the datatype of the series to float
* Write Script for replacing all values equal to `1` with `one`
* Write Script for replacing all `1` with `one` and `3` with `three`
* Write Script for mass renaming of columns using lambda expression
* Write Script for selective renaming of `old_name` with `new_ name` 
* Write Script to change the index
* Write Script for mass renaming of index

### 5. Data Filtering

* Select the rows where the column value is greater than `0.5`
* Select the rows where the column values lies between `0.5` and `0.7`
* Sort values by any of the cloumn name in ascending order
* Sort values by any of the cloumn name in descending order
* Sort values by any of the one column in `ascending` order then other column in `descending` order
* Print the values in group by using one column
* Print the values in group by using multiple columns
* Print the mean of the values in one column, grouped by the values in other column
* Create a pivot table that group by 1st column and calculate the mean of 2nd column and 3rd column
* Find the average across all columns for every unique column-1 group
* Apply mean function across each column
* Apply max function across each row

### 6. Joining and Combining

* Write Script to add the rows of df1 to the end of df2(columns should be identical)
* Write Script to add the columns in df1 to the end of df2 (rows should be identical)
* Write Script to join the columns in df1 with the columns on df2 where the rows for col have identical values.

### 7. Writing Data

* Write to a CSV file
* Write to an Excel file
* Write to a Table from SQL
* Write to a JSON file
* Write to a HTML File
* Write to data from Clipboard

### 8. Data Transformation and Splitting using sklearn Package

* Fill missing value with mean usin sklear pkg.
* Perform Label Encoding on any suitable variable; for [help](https://www.analyticsvidhya.com/blog/2020/03/one-hot-encoding-vs-label-encoding-using-scikit-learn/)
* Perform Train Test Split; for [help](https://towardsdatascience.com/understanding-train-test-split-scikit-learn-python-ea676d5e3d1)

In [16]:
#!pip install psutil
import os
import psutil
dt = datetime.datetime.now()
x = str(dt).split('.')[0]
print(f"This Script is executed by: {platform.node()}", "at", x)

This Script is executed by: Tulasi at 2022-07-28 20:20:06